<div id="root-container">
<%= render 'carousel' %>

  <form action="#" method="get" accept-charset="utf-8" id="root-search-form" class="row gray-well">
    <input type="text" name="some_name" value="" id="some_name" class="form-control-inline">
    <input type="text" name="some_name" value="" id="some_name" class="form-control-inline">
    <input type="submit" value="Search" class="btn btn-info btn-xs btn-root-form">
  </form>
</div>
