<h1><%= @user.username %>'s Properties</h1>

<ul>
  <% @sites.each do |site| %>
    <li>
      <%= link_to site.title, site_url(site) %>
      <% if @user == current_user %>
        <%= link_to "Edit", edit_site_url(site), :class => "btn btn-default btn-xs" %>
      <% end %>
    </li>
  <% end %>
</ul>